
//-------------------------------- Colors ------------------------------
$white: #FFF;
$black: #000;
$light-blue-grey: #a3c8e2;
$main-headline-color: #232323;
$headline-color: #363636;
$text-color: #383838;
$burger-color: #8b8b8b;
$benefits-section-bg: #f4f4f4;
$benefits-description-color: #4e4e4e;
$benefits-tabs: #ababab;
$benefits-tabs-active: #4b94c6;
$benefits-dots: #dfdfdf;
$benefits-dots-active: #9a9a9a;
$faq-border-color: #d7d7d7;

//-------------------------------- Fonts --------------------------------
$benefits-registered-trade: 10px;
$registered-trade-mobile: 12px;
$announcement-text: 14px;
$normal: 16px;
$main-description-mobile: 18px;
$main-description: 20px;
$headline-mobile: 25px;
$main-headline-mobile: 29px;
$headline: 34px;
$main-headline: 44px;



